{{page-title "Bands"}}

<div class="w-1/3 px-2">
  <BandList @bands={{@model}} />
  <UiButton @route="bands.new" data-test-rr="new-band-button">
    Add band
  </UiButton>
</div>
<div class="w-2/3 px-2">
  {{outlet}}
</div>